.book__card {
    width: 100%;
    display: grid;
    grid-template-columns: 700px 1fr;
    column-gap: 20px;
    border-radius: 15px;
}
.book__mainImg {
    display: block;
    object-fit: contain;
}
.book__descript-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.book__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.book__title {
    color: var(--color-grey);
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 18px;
    text-align: center;
}
.book_author {
    text-align: center;
    font-size: 16px;
    color: var(--color-grey);
    margin: 5px 0 0 0;
}
.book__table-descript {
    border-spacing: 10px;
}
.table__first-column {

}
.book__comments {
    border: none;
    cursor: pointer;
    font-size: inherit;
    margin-left: 10px;
    text-align: left;
}
.book__comments-text {
    width: 100%;
    margin-left: 10px;
    color: var(--color-grey);
}
.book__first-self-reading {
    padding-left: 10px;
}
.book__line-gallery {
    display: flex;

}
.embla-gallery {
    width: 387px;
    overflow-x: hidden;
}
.embla-gallery__container {
    display: flex;
    column-gap: 3px;
    width: 100%;
    height: auto;
    max-height: 200px;
    align-items: flex-start;
    object-fit: contain;
    flex: 1 1 0;
}
.embla-gallery__slide {
    min-width: 0;
    width: auto;
    height: fit-content;
    max-height: 200px;
}
