
.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {

}
.header__search {
  width: 500px;
  background-color: #F0F8FA;
  border: none;
  border-radius: 6px;
  padding: 0 10px;
}
.header__search:focus {
  border-color: #CCC9C9;
}
.header__menu {
  display: flex;
  column-gap: 20px;
}
/*------------------------------ CONTENT ----------------------------------*/
.content {
  display: flex;
  column-gap: 30px;
  color: #434343;
}
/*------------------------------------- SIDE BAR  -------------------------------------*/
.side-bar {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.side-bar__item {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  font-size: 18px;
  color: #434343;
  margin-top: 20px;
}
.side-bar__title {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 10px;
}
.side-bar__title img {
  display: block;
  padding-top: 10px;
}
/*---------------------- SIDE BAR INPUTS--------------------*/
.side-bar__label {
  display: inline-block;
  margin-top: 10px;
  font-size: 17px;
}
.side-bar__inputs {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.side-bar__input-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.side-bar__input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
}
.side-bar__input-loading {
  margin-top: -7px;
}
.side-bar__slider {
  margin-top: 30px;
}
.side-bar__clear-button {
  color: #ED2124;
  border: none;
  background: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
.clear {
  cursor: pointer;
}
.clear::before {
  display: inline-block;
  content: '';
  background-image: url("./images/icon_delete.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
/*------------------------ SIDE-BAR  ADD-BOOKS --------------------------*/
.side-bar__add-book {
  margin-top: 50px;
}
.side-bar__title_add-book {
  margin-bottom: -5px;
  cursor: pointer;
}
.side-bar__add-book_line {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  border-color: #CBE21D;
  background-color: #CBE21D;
  position: relative;
}
.after:after {
  content: "";
  background-image: url("./images/add-book_open.svg");
  background-size: 51px 27px;
  width: 51px;
  height: 27px;
  position: absolute;
  top: 0;
  left: calc(50% - 25px);
  cursor: pointer;
}
/*--------------------- FILTERS PANEL -------------------*/
.filters-panel {
  margin-top: 10px;
  display: flex;
  column-gap: 20px;
}
.filter-panel__filter {
  display: flex;
  align-items: center;
}
/*------------------------ BOOKs ------------------------*/
.books {
  margin-top: 20px;
}
.books__catalog {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  row-gap: 10px;
}
.book {
  background-color: #F5F5F5;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px 5px 5px;
  cursor: pointer;
}
.book__preview {
  width: 139px;
}
.book__title {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 18px;
  color: var(--color-black);
  text-align: center;
}
.book__author {
  font-size: 16px;
  color: var(--color-grey);
  text-align: center;
  margin: 5px 0 0 0;
}
.book__pages {
  font-size: 16px;
  color: var(--color-grey);
  margin: 5px 0 0 0;
}
/* -------------------- BOOK CARD -----------------------*/
.book__card {
  width: 100%;
  display: grid;
  grid-template-columns: 800px 1fr;
  column-gap: 20px;
  border-radius: 15px;
}
.book__mainImg {
  display: block;
  width: auto;
  max-width: 800px;
  height: 600px;
}
.book__descript-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 387px;
}
.book__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.book__title {
  font-size: 21px;
  color: var(--color-grey);
}
.book_author {
  text-align: center;
}
.book__text-descript {
  border-spacing: 10px
}
.table__first-column {

}
.book_face-preview {
  height: 100px;
}
.book__comments {
  border: none;
  cursor: pointer;
  font-size: 14px;
}
/*------------- embla-gallery ------------*/
.embla-gallery {
  width: 387px;
  overflow-x: hidden;
}
.embla-gallery__container {
  display: flex;
  column-gap: 3px;
  width: 387px;
  align-items: flex-start;
  object-fit: contain;
}
.embla-gallery__slide {
  display: flex;
  min-width: 0;
  width: 100%;
  height: auto;
  flex: 1 1 0;
  max-height: 200px;
}
/*--------------------- favourites ---------------------*/
.favour-content {
  margin-top: 50px;
}
.favourites {
  color: var(--color-dark-green);
  position: relative;
}
.favourites::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;utf8,<svg width='20' height='20' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12 21s-6.5-4.35-9.17-7.72C.74 10.52 1.5 6.5 5 5.12a5.46 5.46 0 0 1 7 2.04 5.46 5.46 0 0 1 7-2.04c3.5 1.38 4.26 5.4 2.17 8.16C18.5 16.65 12 21 12 21z' fill='red'/></svg>");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: -24px;
  top: 2px
}
.favour-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
}
.favourite {
  margin-top: 10px;
  display: flex;
  column-gap: 10px;
}
.favourite__book-img {
  width: 60px;
}
.favourite__descript_item {
  display: block;
}
.favourite__modal_button-text {
  font-size: 16px;
}
/*------------------------ NOT-FOUND -----------------------------*/
.not-found {
  margin: 50px auto 0 auto;

}